{
    admin off
    frankenphp {
        php_ini output_buffering Off
    }
}

:9000 {
    root * /app/public

    @notstream {
        not path /api/chat*
    }
    encode @notstream zstd br gzip

    header {
        X-Accel-Buffering "no"
    }

    php_server
}
